<div class = "chat_header">
  <div class = 'chat_name'>
    <%= @room.name %>
    <!-- messageモデルの@room = Room.find(params[:room_id])からroom_idのnameを取得-->
    <!-- @room.nameでroomのnameを表示 -->
  </div>
  <div class = 'chat_end_btn'>
   <%= link_to "チャットを終了する", room_path(@room), method: :delete%>
  </div>
</div>

<div class = "posted_mgs">
    <%= render partial: "message", collection: @messages %>
</div>


<div class = new_mg>

  <%= form_with model: [@room, @message], class: 'input-mg', local: true do |f| %>
    <div class = "input">
      <%= f.text_field :content, class: "mg", placeholder: "type a message" %>
      <label class = "img_mg">
        <span class = img_file>画像</span>
        <%= f.file_field :image, class: 'hidden' %>
      </label>
    </div>
    <%= f.submit '送信', class: 'send_btn'%>
  <% end %>
</div>
